.shimmer-container {
    display: flex;
    justify-content:left;
    flex-wrap: wrap;
    width: 88%;
    margin: 2px auto;
}

.shimmer-card {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3%;
    border: 2px solid white;
    padding: 5px;
    margin: 5px;
    width: 310px;
    height: 320px;
}