.res-card {
    background-color: white;
    border-radius: 3%;
    border: 2px solid white;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    width: 310px;
    transition: 500ms;
}

.res-card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.res-logo-container{
    padding: 1px;
}

.res-logo-container > img {
    border-radius: 4%;
    width: 100%;
    height: 150px;
    object-fit:cover;
}

.res-info {
    margin-top: 7px;
    padding: 0px 8px;
}

.res-info > * {
    margin-top: 9px;
}


.res-eta-rating > :first-child{
    padding-right: 5px;
}

.res-eta-rating > :last-child {
    padding-left: 5px;
}