.menu-category {
    margin: 1.8rem 0;
}

.category-sep {
    margin-top: 1rem;
    height: 16px;
    background-color: #f1f1f6;
}

.menu-category > span {
    display: block;
}

.menu-category > h2 {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.item {
    margin: 2px 1rem;
    padding: 1.5rem 0;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-name {
    font-size: 19px;
    font-weight: 800;
    padding-bottom: 5px;
}

.item-img > img {
    width: 120px;    
    height: 100px;    
    object-fit: cover;
    border-radius: 5px;
}

.item-desc {
    margin-top: 3px;
    margin-right: 10rem;
}

.icon-accord {
    margin-right: 1rem;
}