* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 2rem;
    background-color: #F6B17A;    
}

.logo {
    margin: 9px;
}

.nav-items > ul {
    display: flex;
    list-style: none;
    margin-top: 4px;
}

.nav-items > ul > a {
    padding: 9px;
    margin: 20px;
    font-size: 1.25rem;
}

.nav-items > ul > a:hover {
    transition: 300ms;
    background-color: white;
    border-radius: 5px;
    border-bottom: none;
    color: red;
}