.res-container {
    display: flex;
    justify-content:left;
    flex-wrap: wrap;
    width: 88%;
    margin: 2px auto;
}

.filter {
    display: flex;
}

.search {
    margin: 1.5rem 1rem 1.5rem 6.5rem;
}

.search > input {
    padding: 8px;
    font-size: 1rem;
}

.search-btn {
    padding: 8px;
    margin-left: 5px;
    font-size: 1rem;
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-btn {
    padding: 8px;
    margin: 1.5rem 1rem 1.5rem 1.2rem;
    border-radius: 5px;
    border: 0px;
    background-color: #0b88e1;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}